- @title = "Contact"

.page-box.last-slide.background-p50-grey
  = render "layouts/small_heading"
  .container
    .row
      .col-sm-2.hidden-xs-down
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-regular
          %p
            %strong For all inquiries regarding new projects

          %p Dr. Susan Redline, MD, MPH, Director
          %p Brigham Health Sleep Reading Center
          %p Brigham and Women's Hospital
          %p Harvard Medical School
          %p 221 Longwood Avenue, Boston, MA 02115
          - if false
            %p Phone: 617.732.5859
          %p
            Email:
            = mail_to "sredline@bwh.harvard.edu"

        .backdrop-regular
          %p
            %strong
              For general inquiries regarding
              = src_abbr
              services
          %p Dan Mobley
          %p Brigham Health Sleep Reading Center
          %p Brigham and Women's Hospital
          %p Harvard Medical School
          %p 221 Longwood Avenue, Boston, MA 02115
          %p
            Phone:
            = link_to "857.307.0338", "tel:857.307.0338"
          %p
            E-mail:
            = mail_to "dmobley@bwh.harvard.edu"


        .backdrop-white
          %p
            %strong Leave us a message.

          = form_tag submit_contact_path, method: :post, class: "form-vertical" do
            .row
              .col-sm-6.form-group
                = text_field_tag "name", params[:name], class: "form-control", placeholder: "Name"
              .col-sm-6.form-group
                = email_field_tag "email", params[:email], class: "form-control", placeholder: "Email"
            = text_area_tag "comments", params[:comments], class: "form-control", placeholder: "Comment", rows: 5
            %br
            .row
              .col-sm-12.form-group
                %button.btn.btn-primary.pull-right{ type: "submit" } Send
