- @body_class = 'b-body'

= render 'layouts/slide_menu'

.jumbotron.text-center
  %h1 Boston Sleep
  %p We specialize in reading physiological data.

#about.container
  .row
    .col-sm-8
      %h2 About Boston Sleep Reading Center
      %br
      %h4
        We strive to provide you the best service for reading physiological data.
        With a dedicated team of polysomnologists and a history of scoring over
        50,000 sleep studies, you will receive scored data that will be used by
        fellow researchers in the years to come.
      %br
      %p
        The Boston Sleep Reading Center (BSRC), housed in the Division of Sleep and Circadian Disorders at Brigham and Women's Hospital in Boston, Massachusetts, provides high-quality and reliable analysis of physiological data to support industry funded and observational studies, equipment validation projects, pharmacological studies, comparative effectiveness research and clinical trials. Areas of expertise include polysomnography, actigraphy, oximetry, quantitative EEG analysis and more. The SRC provides comprehensive equipment certification services, protocol development and standardization, quality control monitoring, and staff training and certification services. The SRC also contains a Statistical Core that can provide statistical analysis support and an Informatics and Data Management Core that develops highly interactive tools capable of supporting multicenter studies, clinical trials and data repositories. The program includes a staff of approximately 30 individuals, including epidemiologists, biostatisticians, informaticians, clinicians, data managers, research assistants and study coordinators.
      %br
      = link_to 'Get in Touch', '#contact', class: 'btn btn-default btn-lg', data: { object: 'scroll-anchor' }
      %br
      %br
    .col-sm-4
      .hidden-xs{ style: 'height: 122px'}
      %span.glyphicon.glyphicon-signal.logo
.bg-grey
  .container
    .row
      .col-sm-8.col-sm-push-4
        %h2 Directed By

        %p
          %strong Susan Redline, MD, MPH,
          is the Peter C. Farrell Professor of Sleep Medicine at Harvard Medical
          School. She directs programs in Sleep and Cardiovascular Medicine and
          Sleep Medicine Epidemiology at Brigham and Women's Hospital and Beth
          Israel Deaconess Medical Center. Dr. Redline leads the Boston Sleep
          Reading Center for a number of major National Institutes of Health
          (NIH) multicenter studies, directs a national resource of sleep
          research data
          = surround '(', ')' do
            = link_to 'National Sleep Research Resource', 'https://sleepdata.org'
          and leads a
          = link_to 'PCORI Patient Powered Research Network', 'https://myapnea.org'
          on sleep apnea. She has published more than 340 peer-reviewed articles
          and has served the sleep research community in a number of capacities,
          including as a member of the Boards of Directors for the American
          Academy of Sleep Medicine and the Sleep Research Society, the NIH's
          Sleep Disorders Research Advisory Board, and the Institute of
          Medicine's Committee on Sleep Medicine and Research, and as deputy
          editor for the journal Sleep. Dr. Redline received BS and MD degrees
          from Boston University and her MPH degree from the Harvard School of
          Public Health.
        %br
      .col-sm-4.col-sm-pull-8
        .hidden-xs{ style: 'height: 70px'}
        = image_tag 'susan-redline.jpg', class: 'img-rounded slideanim', style: 'box-shadow:5px 0px 40px rgba(0,0,0, .2)'

#services.container.text-center
  %h2 SERVICES
  %h4 What we offer
  %br
  .row.slideanim
    .col-sm-4
      %span.glyphicon.glyphicon-bed.logo-small
      %h4 POLYSOMNOGRAPHY SCORING
      %p
        Your data will be scored by our highly trained and certified staff of
        registered polysomnographists.
    .col-sm-4
      %span.glyphicon.glyphicon-tasks.logo-small
      %h4 DATA MANAGEMENT
      %p
        We'll provide you with real-time updates and reports as we process your
        data.
    .col-sm-4
      %span.glyphicon.glyphicon-lock.logo-small
      %h4 SECURE TRANSFER
      %p
        We will provide you with tools so that you can easily send us data that
        is encrypted and protected.
  %br
  %br

/ Container (Portfolio Section)
#research.text-center.bg-grey{ style: 'padding-bottom: 100px' }
  .container
    %h2 Research
    %h4 Past Studies and Collaborations
    %br
    %p The Boston Sleep Reading Center has worked on numerous National Heart, Blood, and Lung Institute (NHLBI) funded cohort studies over the past 20 years. A selection of these include:

    %br
    %br

    .row.text-center.slideanim
      .col-sm-4
        .thumbnail
          = image_tag 'shhs_logo.png', alt: 'Sleep Heart Health Study', style: 'max-width:100%;'
          %p
            %strong SHHS
          %p 5,000+ studies scored SHHS
      .col-sm-4
        .thumbnail
          = image_tag 'heartbeat-logo.png', alt: 'HeartBEAT', style: 'max-width:100%;'
          %p
            %strong HeartBEAT
          %p 500+ studies scored HeartBEAT
      .col-sm-4
        .thumbnail
          = image_tag 'bestair_logo.png', alt: 'BestAIR', style: 'max-width:100%;'
          %p
            %strong BestAIR
          %p 2,000 studies scored BestAIR
    - if false
      %br
      %h2 What our customers say
      #myCarousel.carousel.slide.text-center{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / Wrapper for slides
        .carousel-inner{ role: "listbox"}
          .item.active
            %h4
              "This company is the best. I am so happy with the result!"
              %br
                %span{ style: 'font-style:normal;' } Michael Roe, Vice President, Comment Box
          .item
            %h4
              "One word... WOW!!"
              %br
                %span{ style: 'font-style:normal;' } John Doe, Salesman, Rep Inc
          .item
            %h4
              "Could I... BE any more happy with this company?"
              %br
                %span{ style: 'font-style:normal;' } Chandler Bing, Actor, FriendsAlot
        / Left and right controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next

- if false
  / Container (Pricing Section)
  #pricing.container
    .text-center
      %h2 Pricing
      %h4 Choose a payment plan that works for you
    .row.slideanim
      .col-sm-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            %h1 Basic
          .panel-body
            %p
              %strong 20
              Lorem
            %p
              %strong 15
              Ipsum
            %p
              %strong 5
              Dolor
            %p
              %strong 2
              Sit
            %p
              %strong Endless
              Amet
          .panel-footer
            %h3 $19
            %h4 per month
            %button.btn.btn-lg Sign Up
      .col-sm-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            %h1 Pro
          .panel-body
            %p
              %strong 50
              Lorem
            %p
              %strong 25
              Ipsum
            %p
              %strong 10
              Dolor
            %p
              %strong 5
              Sit
            %p
              %strong Endless
              Amet
          .panel-footer
            %h3 $29
            %h4 per month
            %button.btn.btn-lg Sign Up
      .col-sm-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            %h1 Premium
          .panel-body
            %p
              %strong 100
              Lorem
            %p
              %strong 50
              Ipsum
            %p
              %strong 25
              Dolor
            %p
              %strong 10
              Sit
            %p
              %strong Endless
              Amet
          .panel-footer
            %h3 $49
            %h4 per month
            %button.btn.btn-lg Sign Up

= render 'external/contact'

%footer.text-center{ style: 'margin-top: 50px' }
  .container
    = link_to '#top', title: 'To Top' do
      %span.glyphicon.glyphicon-chevron-up
    %p
      Boston Sleep Reading Center &copy;
      = Time.zone.today.year
