- @title = "Personnel"

.page-box.last-box.page-box-no-padding.background-p50-grey
  = render "layouts/small_heading"

  .page-box-padding
    .container
      .row
        .col-sm-2.d-none.d-sm-block
          = render "menu/left_menu"
        .col-sm-10
          .backdrop-white
            %p
              %strong
                Leadership
            %p
              = succeed "," do
                = link_to "Dr. Susan Redline", "https://connects.catalyst.harvard.edu/Profiles/display/Person/27634"
              MD, MPH, Director
              %br
              %small Peter C. Farrell Professor of Sleep Medicine, Harvard Medical School
              %br
              %small Senior Physician, Division of Sleep and Circadian Disorders, Departments of Medicine and Neurology, Brigham and Women's Hospital
              %br
              %small Physician, Division of Pulmonary Medicine, Department of Medicine, Beth Israel Deaconess Medical Center

          .backdrop-regular
            %p
              = succeed "," do
                = link_to "Dr. Daniel Gottlieb", "https://connects.catalyst.harvard.edu/Profiles/display/Person/89478"
              MD, MPH, Associate Director (Polysomnography)
              %br
              %small Associate Professor of Medicine, Harvard Medical School
              %br
              %small Associate Physician, Division of Sleep and Circadian Disorders, Departments of Medicine and Neurology, Brigham and Women's Hospital
              %br
              %small Director, Sleep Disorders Center, VA Boston Healthcare System

            %p
              = succeed "," do
                = link_to "Dr. Sara Mariani", "https://connects.catalyst.harvard.edu/Profiles/display/Person/123085"
              PhD, Associate Director (Actigraphy and Quantitative Analysis)
              %br
              %small Instructor of Medicine, Division of Sleep Medicine, Harvard Medical School
              %br
              %small Division of Sleep and Circadian Disorders, Brigham and Women's Hospital

            %p
              = succeed "," do
                = link_to "Dr. Shaun M. Purcell", "http://zzz.bwh.harvard.edu/about.html"
              PhD, Co-Director, National Sleep Research Resource
              %br
              %small Purcell Lab in Sleep, Psychiatry, and Genetics, Department of Psychiatry, Brigham and Women's Hospital
              %br
              %small Associate Professor of Psychiatry and Genetics and Genomic Sciences, Icahn School of Medicine at Mount Sinai


          .backdrop-regular
            %p
              %strong
                Chief Polysomnologist / Senior Project Manager
            %p Dan Mobley, RPSGT, CCSH

          .backdrop-regular
            %p
              = link_to contact_path do
                Contact us
                %i.fa.fa-caret-right
