- @body_class = "b-body"
- @title = "Publications"

= render "layouts/menu"

.jumbotron.text-center
  %h1= @title

.container.col-buffer
  - PUBLICATIONS.each do |publication|
    .publication
      .publication-title= publication["title"]
      = publication["authors"]
      .publication-links= apply_markdown publication["links"]

= render "layouts/footer"
