- @title = "Research"

.page-box.last-slide.background-p50-grey
  = render "layouts/small_heading"

  .container
    .row
      .col-sm-2.d-none.d-sm-block
        = render "menu/left_menu"
      .col-sm-10
        .backdrop-white
          %p.lead
            As part of the Brigham and Women's Hospital Division of Sleep and
            Circadian Disorders, the
            Sleep Reading Center
            = surround "(", ")" do
              = src_abbr
            serves as a vibrant and productive
            research center for investigations related to sleep disorders and
            outcomes in large clinical studies.

        .backdrop-regular
          %p
            The
            = src_abbr
            has worked on numerous analytic studies with a wide variety
            of sponsors, including the National Institutes of Health and
            industry. The
            = src_abbr
            ensures internal quality control and compliance
            with industry regulations for all studies. The
            = src_abbr
            team also works
            closely with sponsors to ensure timely deliverables for each
            project. A selected list of prior and ongoing investigations is
            shown below.

        .backdrop-regular
          %p
            %strong
              = src_abbr
              Publications
            %small
              See a full list of publications on
              - pubmed_url = "https://www.ncbi.nlm.nih.gov/pubmed/?term=redline+susan"
              = link_to "PubMed", pubmed_url
              = succeed "." do
                = link_to pubmed_url do
                  %i.fa.fa-external-link>
          %p
            The
            = src_abbr
            research group is comprised of faculty physicians, research
            fellows, polysomnography technicians, and project management staff.
            Each year, research fellows and faculty present their work at
            national and international scientific meetings and publish in
            high-impact sleep and medical journals. All members of the
            = src_abbr
            group benefit from the rich array of education, research, and
            training resources available at the Brigham and Women's Hospital,
            the Harvard Medical School, and campus-wide Harvard affiliated
            institutions. Since Dr. Redline started the first sleep reading
            center, the
            = src_abbr
            research group has contributed to the publication
            of over 200 original articles.

          %p
            To learn more about research and training opportunities at the
            = succeed "," do
              = src_abbr
            please email
            = succeed "." do
              = link_to "Dr. Susan Redline", contact_path
          %p
            Select
            = src_abbr
            Publications include:

        .backdrop-regular
          %p
            %strong
              PSG

          %p Quan S, Howard B, Iber C, Kiley J, Nieto J, O Connor GT, Rapoport DM, Redline S, Robbins J, Samet J, Wahl P. The Sleep Heart Health Study: Design, rationale, and methods. Sleep 1997; 20(12):1077-1085. PMID: 9493915.
          %p Whitney CW, Gottlieb DJ, Redline S, Nieto J, Norman RG, Dodge RR, Shahar E, Surovec S. Reliability of scoring respiratory disturbance indices and sleep staging.  Sleep NIH 50th Year Commemorative Issue. 1998; 21(7):749-757. PMID: 11286351.
          %p Redline S, Sanders M, Lind B, Quan S, Iber C, Gottlieb D, Bonekat W, Rapoport DW, Smith PL, Kiley J. Methods for obtaining and analyzing unattended polysomnography data for a multicenter study. Sleep NIH 50th Year Commemorative Issue. 1998; 21(7):759-767. PMID: 11300121.
          %p Quan SF, Griswold ME, Iber C, Nieto FJ, Rapoport DM, Redline S, Sanders M, Young T. Short-term variability of respiration and sleep during unattended non-laboratory polysomnography—the Sleep Heart Health Study. Sleep. 2002; 25(8):843-849. PMID: 12489889.
          %p Lind BK, Goodwin JL, Hill JG, Tauqeer A, Redline S, Quan SF. Recruitment of healthy adults into a study of overnight sleep monitoring in the home: experience of the Sleep Heart Health Study. Sleep Breath. 2003; 7(1):13-24. PMID: 12712393.
          %p Redline S, Kirchner HL, Quan SF, Gottlieb DJ, Kapur V, Newman A. The effects of age, sex, ethnicity and sleep disordered breathing on sleep architecture. Arch Intern Med. 2004; 164(4):406-418. PMID: 14980992.
          %p Redline S, Budhiraja R, Kapur V, Marcus CL, Mateika JH, Mehra R, Parthasarthy S, Somers VK, Strohl KP, Sulity LG, Gozal D, Wise MD, Quan SF. The scoring of respiratory events in sleep: reliability and validity. J Clin Sleep Med. 2007; 3(2):169-200. PMID: 17557426.
          %p Gottlieb DJ, Yenokyan G, Newman A, O'Connor GT, Punjabi NM, Quan SQ, Redline S, Resnick HE, Tong E, Diener-West M, Shahar E. Prospective study of obstructive sleep apnea and incident coronary heart disease and heart failure: the sleep heart health study. Circulation 2010; 122(4):352-360. PMC3117288.
          %p Redline S, Yenokyan G, Gottlieb DJ, Shahar E, O'Connor GT, Resnick HE, Diener-West M, Sanders MH, Wolfe PA, Geraghty EM, Ali T, Lebowitz M, Punjabi NM. Obstructive sleep apnea-hypopnea and incident stroke: the sleep heart health study. Am J Respir Crit Care Med. 2010; 182(2):269-277. PMC2913239.
          %p Yaffe K, Laffan AM, Harrison SL, Redline S, Spira A, Ensrud KE, Ancoli-Israel S, Stone, KL. Sleep disordered breathing, hypoxia, and risk of mild cognitive impairment and dementia in older women. JAMA. 2011; 306:613-619. PMC3600944.
          %p Koo BK, Blackwell T, Ancoli-Israel S, Stone KL, Stefanick ML, Redline S; Osteoporotic Fracture in Men (MrOS) Study Group. Association of incident cardiovascular disease with periodic limb movements during sleep in older men: outcomes of sleep disorders in older men (MrOS) study. Circulation 2011; 124(11):1223-1231. PMC3265562.
          %p Redline S, Amin R, Beebe D, Chervin RD, Garetz SL, Giordani B, Marcus CL, Moore RH,  Rosen CL,  Arens R, Gozal D, Katz ES, Mitchell R, Muzumdar H, Taylor HG, Thomas N,  Ellenberg S. The Childhood Adenotonsillectomy Trial (CHAT): rationale, design and challenges of a randomized controlled trial evaluating a standard surgical procedure in a pediatric population. Sleep. 2011; 34(11):1509-1517. PMC3198206.
          %p Sahoo SS, Ogbuji C, Luo L, Dong X, Cui L, Redline S, Zhang GQ. MiDas: automatic extraction of a common domain of discourse in sleep medicine for multi-center data integration. AMIA Annu Symp Proc. 2011; 1196-1205. PMC3243207.
          %p Blackwell T, Yaffe K, Ancoli-Israel S, Redline S, Ensrud KE, Stefanick ML, Laffan A, Stone KL; for the Osteoporotic Fractures in Men Study Group. Associations between sleep architecture and sleep-disordered breathing and cognition in older community-dwelling men: the Osteoporotic Fractures in Men Sleep Study. J Am Geriatr Soc 2011; 59(12): 2217-2225. PMC3245643.
          %p Rosen CL, Auckley D, Benca R, Foldvary-Schaefer N, Iber C, Kapur V, Rueschmann M, Zee P, Redline S. A multisite randomized trial of portable sleep studies and positive airway pressre autotitration versus laboratory-based polysomnography for the diagnosis and treatment of obstructive sleep apnea: the HomePAP study. Sleep. 2012; 35(6):757-767. PMC3353048.
          %p Facco FL, Parker CB, Reddy UM, Silver RM, Louis JM, Basner RC, Chung JH, Schubert FP, Pien GW, Redline S, Mobley DR, Koch MA, Simhan HN, Nhan-Chang CL, Parry S, Grobman WA, Haas DM, Wing DA, Mercer BM, Saade GR, Zee PC. NuMoM2b sleep-disordered breathing study: objectives and methods. Am J Obstet Gynecol. 2015; 212(4):542.e1-127. PMC4410772.
          %p Chami HA, Gottlieb DJ, Redline S, Punjabi NM. Association between glucose metabolism and sleep-disordered breathing during REM sleep. Am J Respir Crit Care Med. 2015; 192(9):1118-1126. PMC4642200.
          %p Ho V, Crainiceanu CM, Punjabi NM, Redline S, Gottlieb DJ. Calibration model for apnea-hypopnea indices: impact of alternative criteria for hypopneas. Sleep. 2015; 38(12):1887-1892. PMC4667391.
          %p Javaheri S, Blackwell T, Ancoli-Israel S, Ensrud KE, Stone KL, Redline S; Osteoporotic Fractures in Men Study (MrOS) Research Group. Sleep-disordered breathing and incident heart failure in older men. Am J Respir Crit Care Med. 2016; 193(5):561-568. PMC4824922.
          %p Dean DA 2nd, Goldberger AL, Mueller R, Kim M, Rueschman M, Mobley D, Sahoo SS, Jayapandian CP, Cui L, Morrical MG, Surovec S, Zhang GQ, Redline S. Scaling up scientific discovery in sleep medicine: the national sleep research resource. Sleep. 2016; 39(5):1151-1164. PMC4835314.
          %p Zhao YY, Blackwell T, Ensrud KE, Stone KL, Omachi TA, Redline S; Osteoporotic Fracures in Men (MrOS) Study Group. Sleep apnea and obstructive airway disease in older men: outcomes of sleep disorders in older men study. Sleep. 2016; 39(7):1343-1351. PMC4909616.
          %p Zhao YY, Weng J, Mobley DR, Wang R, Kwon Y, Zee PC, Lutsey PL, Redline S. Effect of manual editing of total recording time: implications for home sleep apnea testing. J Clin Sleep Med. 2017; 13(1):121-126. PMC5181603.
          %p Javaheri S, Sharma RK, Bluemke DA, Redline S. Association between central sleep apnea and left ventricular structure: the multi-ethnic study of atherosclerosis. J Sleep Res. 2017;  PMID: 28220556.
          %p Facco FL, Parker CB, Reddy UM, Silver RM, Koch MA, Louis JM, Basner RC, Chung JH, Nhan-Chang CL, Pien GW, Redline S, Grobman WA, Wing DA, Simhan HN, Haas DM, Mercer BM, Parry S, Mobley D, Hunter S, Saade GR, Schubert FP, Zee PC. Association between sleep-disordered breathing and hypertensive disorders of pregnancy and gestational diabetes mellitus. Obstet Gynecol. 2017; 129(1):31-41. PMID: 27926645.

        .backdrop-regular
          %p
            %strong
              Actigraphy
          %p Weiss AR, Johnson NL, Berger N, Redline R. Validity of activity-based devices to estimate sleep. J Clin Sleep Med. 2010; 6(4):336-342. PMC2919663.
          %p Johnson NJ, Kirchner HL, Storfer-Isser A, Cartar L, Ancoli-Israel S, Emancipator JL, Kibler AM, Redline S. Sleep estimation using wrist actigraphy in adolescents with and without sleep disordered breathing: a comparison of three data modes. Sleep. 2007; 30(7):899-905. PMC1978368.
          %p Weiss A, Xu F, Storfer-Isser A, Thomas A, Landis-Ievers CE, Redline S. The association of sleep duration with adolescents' fat and carbohydrate consumption. Sleep. 2010; 33(9):1201-1209. PMC2938861.
          %p Javaheri S, Storfer-Isser A, Rosen CL, Redline S. Association of short and long sleep durations with insulin sensitivity in adolescents. J Pediatr. 2011; 158(4):617-623. PMC3076647.
          %p Fung MM, Peters K, Ancoli-Israel S, Redline S, Stone KL, Barrett-Connor E; Osteporotic Fractures in Men (MrOS) Research Group. Total sleep time and other sleep characteristics measured by actigraphy do not predict incident hypertension in a cohort of community-dwelling older men. J Clin Sleep Med. 2013; 9(6):585-591. PMC3659379.
          %p Bakker JP, Weng J, Wang R, Redline S, Punjabi NM, Patel SR. Associations between obstructive sleep apnea, sleep duration, and abnormal fasting glucose. The multi-ethnic study of atherosclerosis. Am J Respir Crit Care Med. 2015; 192(6):745-753. PMC4595677.
          %p Nagayoshi M, Lutsey PL, Benkesser D, Wassel CL, Folsom AR, Shahar E, Iso H, Allison MA, Criqui MH, Redline S. Association of sleep apnea and sleep duration with peripheral artery disease: the multi-ethnic study of atherosclerosis (MESA). Atherosclerosis. 2016; 251:467-475. PMC4983210.
          %p Ogilvie RP, Redline S, Bertoni AG, Chen X, Ouyang P, Szklo M, Lutsey PL.  Actigraphy measured sleep indices and adiposity: the multi-ethnic study of atherosclerosis (MESA). Sleep. 2016; 39(9):1701-1708. PMC4989259.
          %p Castro-Diehl C, Diez Roux AV, Redline S, Seeman T, McKinley P, Sloan R, Shea S. Sleep duration and quality in relation to autonomic nervous system measures: the multi-ethnic study of atherosclerosis (MESA). Sleep. 2016; 39(11):1927-1940. PMC5070747.
          %p Cespedes EM, Hu FB, Redline S, Rosner B, Alcantara C, Cai J, Hall MH, Loredo JS, Mossavar-Rahmani Y, Ramos AR, Reid KJ, Shah NA, Sotres-Alvarez D, Zee PC, Wang R, Patel SR. Comparison of self-reported sleep duration with actigraphy: results from the Hispanic Community Health Study/Study of Latinos Sueño Ancillary Study. Am J Epidemiol. 2016; 183(6):561-573. PMC4782764.

        .backdrop-regular
          %p
            %strong
              CPAP adherence monitoring
          %p Billings ME, Auckley D, Benca R, Foldvary-Schaefer N, Iber C, Redline S, Rosen CL, Zee P, Kapur VK. Race and residential socioeconomics as predictors of CPAP adherence. Sleep. 2011; 34(12):1653-1658. PMC3208842.
          %p Billings ME, Rosen CL, Wang R, Auckley D, Benca R, Foldvary-Schaefer N, Iber C, Zee P, Redline S, Kapur VK. Is the relationship between race and continuous positive airway pressure adherence mediated by sleep duration? Sleep. 2013; 36(2):221-227. PMC3543052.
          %p Bakker JP, Wang R, Weng J, Aloia MS, Toth C, Morrical MG, Gleason KJ, Rueschman M, Dorsey C, Patel SR, Ware JH, Mittleman MA, Redline S. Motivational enhancement for increasing adherence to CPAP: a randomized controlled trial. Chest. 2016; 150(2):337-345. PMC4980541.

        .backdrop-regular
          %p
            = link_to staff_path do
              Our staff
              %i.fa.fa-caret-right
