%nav.nav.flex-column
  = render "menu/item_link", title: "BSRC", path: root_path
  = render "menu/item_link", title: "About", path: about_path
  = render "menu/item_link", title: "Services", path: services_path
  = render "menu/item_link", title: "Facility", path: facility_path
  = render "menu/item_link", title: "Research", path: research_path
  = render "menu/item_link", title: "Staff", path: staff_path
  = render "menu/item_link", title: "Contact", path: contact_path
