%nav.nav.flex-column.left-menu
  = render "menu/item_link", title: "SRC", path: root_path
  = render "menu/item_link", title: "About", path: about_path
  = render "menu/item_link", title: "Services", path: services_path
  = render "menu/item_link", title: "Facility", path: facility_path
  = render "menu/item_link", title: "Research", path: research_path
  = render "menu/item_link", title: "Personnel", path: personnel_path
  = render "menu/item_link", title: "Contact", path: contact_path
