.footer-container
  .container
    .footer
      .nowrap.hidden-sm-up
        &copy;
        = Time.zone.today.year
        = link_to "Brigham Sleep", about_path
        .pull-right
          = link_to "Questions?", contact_path
      .row.hidden-xs-down
        .col-6.nowrap
          &copy;
          = Time.zone.today.year
          Brigham Sleep
          &nbsp;
          = link_to "About", about_path
        .col-6.nowrap.text-right.hidden-xs-down
          .pull-right
            = link_to "Questions?", contact_path
