%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { target: '#myNavbar', toggle: 'collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Boston Sleep', '#top', class: 'navbar-brand'
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'ABOUT', '#about'
        %li= link_to 'SERVICES', '#services'
        %li= link_to 'RESEARCH', '#research'
        %li= link_to 'CONTACT', '#contact'
